@{
    ViewData["Title"] = "Home Page";
}

    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        Message= @ViewData["Message"].ToString();dddddddddddddddddd呃呃呃呃呃呃呃呃呃呃呃呃呃呃呃呃
        @DateTime.Now.ToString();
    </div>


